* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .upload-section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .upload-section h2 {
    margin-bottom: 10px;
  }
  
  .upload-section .form-row {
    display: flex;
    gap: 10px;
  }
  
  .upload-section .form-group {
    flex: 1;
  }
  
  .upload-section .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .upload-section .form-group select {
    width: 80%;
  }
  
  .uploaded-materials .material-item {
    margin-bottom: 15px;
  }  

  .upload-section form {
    display: flex;
    flex-direction: column;
  }
  
  .upload-section label {
    margin: 20px 0px 10px 0px;
  }
  
  .upload-section input[type="file"] {
    margin-bottom: 10px;
  }
  
  .upload-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .upload-section button:hover {
    background-color: #0056b3;
  }
  
  .search-box {
    margin: 50px 0px 20px 0px;
  }

  .search-box h2{
    margin-bottom: 10px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-container button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .search-container button i {
    color: #555;
  }
  
  .search-container button:hover {
    background-color: #f0f0f0;
  }
  
  .uploaded-materials {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }

  .uploaded-materials a{
    text-decoration: none;
    color: #000;
  }
  
  .uploaded-materials h2 {
    margin-bottom: 20px;
  }
  

  .total-count {
    margin-top: 20px;
  }
  
  .total-count p {
    font-weight: bold;
  }
  